---
layout: default
---

<div class="post">
    <h2 class="post-title">
        {{ page.title }}
    </h2>
    <div class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        <ul class="tag-box inline" style="float:right;font-size:0.875em">
            {% capture tags %}
            {% for tag in page.tags %}
            {{ tag }}
            {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
            <li><a href="/tags#{{ tag | cgi_escape }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {{ content }}
</div>


<aside class="related">
    <h2>Соседние посты:</h2>
    <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
            <a href="{{ post.url }}">
                {{ post.title }}
                <small>
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                </small>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>

{% include disqus.html %}
